<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Назначение Правителя на Планету</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    ссылка на стили от bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="css/main.css">-->
</head>
<body>
<!-- header -->
<header th:insert="blocks/header :: header"></header>
<!-- body -->

<div class="container mt-5">
    <h1>Назначение Правителя на Планету</h1>
    <form action="/order" method="post">
        <input type="text" name="ruler_id" placeholder="Введите id Правителя" class="form-control"><br>
        <input type="text" name="planet_id" placeholder="Введите id Планеты" class="form-control"><br>
        <button type="submit" class="btn btn-primary">Назначить</button>
    </form>


<!-- footer -->
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>