<div th:fragment="header">
   <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active">Главная</a></li>
                <li class="nav-item"><a href="/rulers" class="nav-link">Правители</a></li>
                <li class="nav-item"><a href="/rulers/add" class="nav-link">Добавить Правителя</a></li>
                <li class="nav-item"><a href="/rulers/young" class="nav-link">10 молодых Правителей</a></li>
                <li class="nav-item"><a href="/no-planet-rulers" class="nav-link">Правители без планет</a></li>
                <li class="nav-item"><a href="/planets" class="nav-link">Планеты</a></li>
                <li class="nav-item"><a href="/planets/add" class="nav-link">Добавить Планету</a></li>
                <li class="nav-item"><a href="/order" class="nav-link">Назначения</a></li>
            </ul>
        </header>
    </div>
</div>